<app-admin-home></app-admin-home>
<div class="container" style="width:75%;margin-top:2%">
    <div class="row h2 justify-content-center"  >Admin Profile</div>
</div>
<div class="card-group" style="margin-left:13%">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Name-  {{adminprofile.name}}</h5>
              <p class="card-text">Email -  {{adminprofile.email}}</p>
              <p class="card-text">Contact -  {{adminprofile.contact}}</p>
            </div>
       </div>
</div>  
